div
  app-header#home-header(data-title="Home")
  .home-title #{message}
  app-card#home-card(data-title="Start code from here with Vanilla Javascript!")
  .align-center.spacer-20
    app-button#home-button(data-text="Contacts", data-href="/contacts")