.main-wrapper {
    padding: 40px 0;
    overflow: hidden;
}

@media screen and (max-width: 1087px) {
    .main-wrapper {
        padding: 1.5rem;
    }
}

.is-margin-centered {
    margin: 0 auto;
}

.is-spacing-10 {
    margin-top: 10px;
}

.is-spacing-20 {
    margin-top: 20px;
}

.is-spacing-30 {
    margin-top: 30px;
}

.is-spacing-40 {
    margin-top: 40px;
}